*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;    
}

:root{
    /* Background Colors */
    --bg-primary-color: #0c0c0c;
    --bg-fill-color: #fdfdfc;
    --bg-food-color: #ff3b3b;


    /* Text Colors */
    --text-primary-color: #f0f0f0;


    /* Spacing variables */
    --space-xs: 4px;
    --space-s: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-l: 32px;
    --space-2xl: 40px;
    --space-3xl: 48px;


    /* Border Colors */
    --border-primary-color: #333333;


    /* Border radius */
    --boarder-radius-xs: 4px;
    --boarder-radius-sm: 8px;
    --boarder-radius-md: 12px;
    --boarder-radius-lg: 16px;
    --boarder-radius-xl: 20px;
    --boarder-radius-2xl: 24px;
}

html{
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

main, section{
    height: 100%;
    width: 100%;
}

.btn{
    padding: var(--space-s) var(--space-md);
    border: none;
    border-radius: var(--boarder-radius-sm);
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
    transform: scale(1.1);
}

section{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: var(--space-2xl);
    gap: var(--space-lg);
}

section .infos{
    display: flex;
    justify-content: space-between;
}

.info{
    padding: var(--space-s) var(--space-md);
    border: 1px solid var(--border-primary-color);  
    border-radius: var(--boarder-radius-sm);
}

.board{
    border: 1px solid var(--border-primary-color);
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
    
    
}

.block{
    /* height: 30px;
    width: 30px; */
    border: 1px solid var(--border-primary-color);
    border-radius: 50%;

}

.fill{
    background-color: var(--bg-fill-color);
}

.food{
    background-color: var(--bg-food-color);
}

.modal, .modal-over{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: #35353587;
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-over{
    display: none;
}

.modal .start-game, .modal-over .game-over{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-lg);
}
